#tabla{
    background-color: #ffc300;

    height: 500px;
    width: 300px;
    position:  absolute;
    left:50%;
    border-radius: 60px 10px 200px 100px;
    border: 2px solid #003566;
}
h1{
    position:relative;
    left: 45%;
    background-color: #ffd60a;
    border-radius:10px ;
    width: 130px;
}

#formulario{
    background-color: #ffc300;
    width:  300px;
    height: 500px;
    position:relative;
    left: 30%;
    border-radius: 10px 60px 100px 200px;
    border: 2px solid #003566;
}
table{
    position:  relative;
    top: 40px;
    left: 10px;
}
form{
    position: relative;
    top:40px;
    left: 40px;
}
body{
    background-color: #001d3d;
}
table, td, th{
    border: 1px solid #000814;
    color: #000814;
}
#seissiete{
    position:absolute;
    top: 55%;
    left: 15px;
    width: 250px;
    height: 150px;
    border-radius: 30px;
}
#rakai{
    position:absolute;
    top: 55%;
    left: 34px;
    width: 250px;
    height: 150px;
    border-radius: 30px;

}
#rayo{
    position: absolute;
}
.tenor-gif-embed{
    height: 300px;
    width: 400px;
}
#ellogin{
    position: relative;
    top: 30px;
    left: 50px;
}
h4{
    position: relative;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 55%;
}
#sesiar{
    position: relative;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 30%;
}